<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.flightbook"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="16" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_GPS" />
    <uses-permission android:name="android.permission.ACCESS_ASSISTED_GPS" />
    <uses-permission android:name="android.permission.LOCATION" />
    <uses-permission android:name="android.permission.NFC" />
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    
    
    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        android:uiOptions="splitActionBarWhenNarrow">
        
        <uses-library android:name="com.google.android.maps" />
        
        <activity
            android:name="com.flightbook.activity.SplashActivity"
            android:label="@string/app_name_maj"> 
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
        		<action android:name="android.nfc.action.NDEF_DISCOVERED"/>
		        <category android:name="android.intent.category.DEFAULT"/>
		        <data android:mimeType="application/com.flightbook"/>
    		</intent-filter>
        </activity>
        <activity
            android:name="com.flightbook.activity.VolActivity"
            android:label="@string/title_activity_vol" 
            android:icon="@drawable/vol">
        </activity>
        <activity
            android:name=".activity.FlightBookActivity"
            android:label="@string/title_activity_flightbook" >
        </activity>
        <activity
            android:name="com.flightbook.activity.VolsActivity"
            android:label="@string/title_activity_vols" 
            android:icon="@drawable/recorder">
        </activity>
        <activity
            android:name="com.flightbook.activity.HangarActivity"
            android:label="@string/title_activity_hangar"
            android:icon="@drawable/hangar">
        </activity>
        <activity
            android:name="com.flightbook.activity.AddAeronefActivity"
            android:label="@string/title_activity_addAeronef"
            android:icon="@drawable/hangar">
        </activity>
        <activity
            android:name="com.flightbook.activity.SiteActivity"
            android:label="@string/title_activity_site"
            android:icon="@drawable/index">
        </activity>
        <activity
            android:name="com.flightbook.activity.AddSiteActivity"
            android:label="@string/title_activity_addSite"
            android:icon="@drawable/index">
        </activity>
        <activity
            android:name="com.flightbook.activity.MeteoActivity"
            android:label="@string/title_activity_meteo"
            android:icon="@drawable/meteo">
        </activity>
        <activity
            android:name="com.flightbook.activity.RadiosActivity"
            android:label="@string/title_activity_radios"
            android:icon="@drawable/ff9">
        </activity>
        <activity
            android:name="com.flightbook.activity.RadioActivity"
            android:label="@string/title_activity_radio"
            android:icon="@drawable/ff9">
        </activity>
        <activity
            android:name="com.flightbook.activity.AddSwitchPotarActivity"
            android:label="@string/title_activity_switchpotar"
            android:icon="@drawable/inter">
        </activity>
        <activity
            android:name="com.flightbook.activity.CarteActivity"
            android:label="@string/title_activity_carte"
            android:icon="@drawable/carte">
        </activity>
        <activity
            android:name="com.flightbook.activity.ChecklistsActivity"
            android:label="@string/title_activity_checklist"
            android:icon="@drawable/checklist">
        </activity>
        <activity
            android:name="com.flightbook.activity.ChecklistActivity"
            android:label="@string/title_activity_checklist"
            android:icon="@drawable/checklist">
        </activity>
        <activity
            android:name="com.flightbook.activity.UpdateChecklistActivity"
            android:label="@string/title_activity_checklist"
            android:icon="@drawable/checklist">
        </activity>
        
        <service android:name=".service.SpeechService"/>
        
        <!--  service android:name=".service.GpsService"/-->
        
    </application>

    
    
</manifest>