<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.olivier"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="15" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_GPS" />
    <uses-permission android:name="android.permission.ACCESS_ASSISTED_GPS" />
    <uses-permission android:name="android.permission.LOCATION" />
    <uses-permission android:name="android.permission.NFC" />
    <uses-permission android:name="android.permission.VIBRATE"></uses-permission>
    
    
    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activity.SplashActivity"
            android:label="@string/app_name_maj"> 
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
        		<action android:name="android.nfc.action.NDEF_DISCOVERED"/>
		        <category android:name="android.intent.category.DEFAULT"/>
		        <data android:mimeType="application/com.olivier"/>
    		</intent-filter>
        </activity>
        <activity
            android:name=".activity.VolActivity"
            android:label="@string/title_activity_vol" 
            android:icon="@drawable/vol">
        </activity>
        <activity
            android:name=".activity.OlivierActivity"
            android:label="@string/title_activity_olivier" >
        </activity>
        <activity
            android:name=".activity.VolsActivity"
            android:label="@string/title_activity_vols" 
            android:icon="@drawable/recorder">
        </activity>
        <activity
            android:name=".activity.HangarActivity"
            android:label="@string/title_activity_hangar"
            android:icon="@drawable/hangar">
        </activity>
        <activity
            android:name=".activity.AddAeronefActivity"
            android:label="@string/title_activity_addAeronef"
            android:icon="@drawable/hangar">
        </activity>
        <activity
            android:name=".activity.MeteoActivity"
            android:label="@string/title_activity_meteo"
            android:icon="@drawable/meteo">
        </activity>
        <activity
            android:name=".activity.RadiosActivity"
            android:label="@string/title_activity_radios"
            android:icon="@drawable/ff9">
        </activity>
        <activity
            android:name=".activity.RadioActivity"
            android:label="@string/title_activity_radio"
            android:icon="@drawable/ff9">
        </activity>
        <activity
            android:name=".activity.AddSwitchPotarActivity"
            android:label="@string/title_activity_switchpotar"
            android:icon="@drawable/inter">
        </activity>
         <!--  service android:name=".service.GpsService"/-->
    </application>

    
    
</manifest>